a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ul {
margin: 0;
  padding: 0;
  list-style: none;
}
.application-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}
.help-link {
  margin-left: 12px;
  font-size: 12px;
  color: #38f;
}
.app-recommend-list ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0!important;
}
.recomment-item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 110px;
  margin-left: 15px;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
}
.recomment-item:first-child {
  margin-left: 0;
}
.recomment-item h4 {
  margin: 22px 0 10px;
  font-size: 20px;
  color: #fff;
}
.recomment-item p {
  margin-bottom: 9px;
  font-size: 12px;
  color: #fff;
}
.detail-link {
  display: inline-block;
  width: 66px;
  height: 22px;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
  border: 0;
  background-color: #fff;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.application-title-desc {
  font-size: 12px;
  color: #999;
}

.application-item {
  float: left;
  width: 265px;
  margin-left: 15px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
.application-item:hover {
  background: #f2f2f2;
}
.application-item a {
  zoom: 1;
  display: block;
  padding: 10px;
}
.application-item a:after {
  content: "";
  display: table;
  clear: both;
}

.application-logo {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.application-logo img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}
.application-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  vertical-align: bottom;
  color: #333;
  font-weight: 700;
  margin-left: 50px;
}
.application-desc {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 50px;
}

.application-third {
  margin-top: 20px;
  margin-bottom: 54px;
  display: none;
  text-align: center;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  position: relative;
}
.application-third .dash {
  width: 30px;
  height: 1px;
  margin: 0 10px;
}
.application-third .title {
  font-size: 12px;
  color: #999;
}